.filter-row {
  align-items: center;
  padding: 10px;
}

ion-searchbar {
  width: 100%;
}

input[type="date"] {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
}

ion-button {
  margin-top: 10px;
}
